<div class="content">

  <!-- partie de gauche : liste des labels -->
  <div class="left">
    <div class="labels_list">
      <% @labels.each do |label| %>
        <li> <%= link_to label.title, "##{label.title.split.join}" %> </li>
      <% end %>
    </div>
      <!-- <div class="player_progress">
        <div class="player_cursor">
        </div>
      </div> -->
      <div class="controls">
        <div id="previous">PREVIOUS</div>
        <div id="play">PLAY</div>
        <div id="next">NEXT</div>
      </div>
  </div>

  <!-- partie de droite : détail des labels  -->
  <div class="right">
    <% @labels.each do |label| %>
      <div class="anchor" id="<%=label.title.split.join %>"></div>
      <div class="label_content">

      <!-- détail par production -->
        <% label.productions.sort_by{ |prod|prod.position }.each do |production| %>
          <div class="production_content">
            <div class="production_photo">
              <%= cl_image_tag production.photo, class:"title-photo", height: 400, width: 400, crop: :fill %>
            </div>
            <div class="production_details">
              <div class="production_title">
               <h3> <%= production.title  %> </h3>
              </div>
              <div class="production_tracks">
                <% production.tracks.sort_by{ |track|track.position }.each do |track| %>
                  <div class="track" id=<%= track.title %>>
                    <%= track.title %>
                    <audio class="audio" src=<%= track.url %>> </audio>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    <% end %>

  </div>

</div>
