<div class="content">

  <!-- partie de gauche : liste des labels -->
  <div class="left">
    <div class="labels_list">
      <% @labels.each do |label| %>
        <li data-label="<%=label.title.split.join %>"> <%= link_to label.title, "##{label.title.split.join}"%> </li>
      <% end %>
    </div>
      <!-- <div class="player_progress">
        <div class="player_cursor"></div>
      </div>
      <div class="controls">
        <div id="previous"><p>PREVIOUS</p></div>
        <div id="play"><p>PLAY</p></div>
        <div id="next"><p>NEXT</p></div>
      </div> -->
  </div>

  <!-- partie de droite : détail des labels  -->
  <div class="right">
    <% @labels.each do |label| %>
      <div class="anchor" id="<%=label.title.split.join %>"></div>
      <div class="label_content" data-label="<%=label.title.split.join %>">

      <!-- détail par production -->
        <% label.productions.sort_by{ |prod|prod.position }.each do |production| %>
          <div class="production_content">
            <div class="production_photo">
              <%= cl_image_tag production.photo, class:"title-photo", height: 300, width: 300, crop: :fill %>
            </div>
            <div class="production_details">
              <div class="production_title">
               <h5> <%= production.title.upcase  %> </h5>
              </div>
              <div class="production_tracks">
                <% production.tracks.sort_by{ |track|track.position }.each do |track| %>
                  <div class="track" id=<%= track.title %>>
                    <p> <%= track.title %> </p>
                  </div>
                <% end %>
              </div>
              <div class="production_texts">
                <% unless production.text.blank? %>
                  <%= simple_format(production.text) %>
                <% end %>
                <% unless production.release_type.blank? %>
                 <p style = "margin-bottom:0px"> <%= production.release_type %> </p>
                <% end %>
                <p style = "margin-bottom:0px"> Label: <%= production.label.title %> </p>
                <% unless production.date.blank? %>
                  <p > Date: <%= production.date %> </p>
                <% end %>
                <% unless production.digital.blank? %>
                  <%= link_to "> Digital", production.digital, target: :_blank, class:"digital_link"%>
                <% end %>
                <% unless production.vinyl.blank? %>
                  <%= link_to "> Vinyle", production.vinyl, target: :_blank %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    <% end %>

  </div>

</div>
