
<div class="mobilemenu hidden">
  <div class="mobilemenu-list">
     <%= link_to "PRODUCTIONS", tracks_path, class:"mobilemenu-item mobilemenu-category" %>
    <%= link_to "BLUEPANTHER", radios_path, class:"mobilemenu-item mobilemenu-category" %>
     <%= link_to "PODCASTS", podcasts_path, class:"mobilemenu-item mobilemenu-category" %>
     <%= link_to "VIDEOS", videos_path, class:"mobilemenu-item mobilemenu-category" %>
    <%= link_to "INFOS", "", class:"mobilemenu-item mobilemenu-category" %>
  </div>
</div>
