<div class="navbar-myako">
  <div class="logo"><%= link_to "M Y A K O", root_path unless home? %></div>
  <div class="navigation hidden-xs hidden-sm">
    <% unless home? %>
      <div class="pages"><%= link_to "NEWS", news_path %></div>
      <div class="pages"><%= link_to "PRODUCTIONS", tracks_path %></div>
      <div class="pages"><%= link_to "BLUEPANTHER SHOW", radios_path %></div>
      <div class="pages"><%= link_to "PODCASTS", podcasts_path %></div>
      <div class="pages"><%= link_to "VIDEOS", videos_path %></div>
      <div class="pages"><%= link_to "ABOUT", infos_path %></div>
    <% end %>
  </div>
  <i class="fa fa-bars hidden-md hidden-lg" id="hamburger"></i>
</div>

