<div class="navbar-myako">
  <div class="logo"><%= link_to "M Y A K O", root_path unless home? %></div>
  <div class="navigation hidden-xs hidden-sm">
    <% unless home? %>
      <div class="pages"><%= link_to "RELEASES", tracks_path %></div>
      <div class="pages"><%= link_to "RADIO", radios_path %></div>
      <div class="pages"><%= link_to "VIDEO", videos_path %></div>
      <div class="pages"><%= link_to "INFO", infos_path %></div>
    <% end %>
  </div>
  <i class="fa fa-bars hidden-md hidden-lg" id="hamburger"></i>

</div>

