<div class="navbar-wagon">
  <div class="logo"><%= link_to "M Y A K O", root_path %></div>
  <div class="navigation hidden-xs hidden-sm">
    <div class="pages"><%= link_to "PRODUCTIONS", tracks_path %></div>
    <div class="pages"><%= link_to "BLUEPANTHER", radios_path %></div>
    <div class="pages"><%= link_to "PODCASTS", podcasts_path %></div>
    <div class="pages"><%= link_to "VIDEOS", videos_path %></div>
    <div class="pages"><%= link_to "INFOS", infos_path %></div>
  </div>
  <i class="fa fa-bars hidden-md hidden-lg" id="hamburger"></i>
</div>

