<%= @production.title  %>
<%= cl_image_tag @production.photo, height: 300, width: 400, crop: :fill %>


<%= link_to "modifier", edit_production_path(@production) %>
<%= link_to "retour à la liste", productions_path %>

<% if @production.player? %>

<div class="player">
    <audio class="audio" src="<%= @production.player %>"> </audio>
  <div class="player_controls">
    <div class="player_button">
      play
    </div>
    <div class="player_progress">
      <div class="player_cursor">
      </div>
    </div>
  </div>
</div>

<% end %>
