<div class="container">
  <h1>HOME OF MYAKO</h1>
  <div class="navbar-myako">
  <div class="navigation hidden-xs hidden-sm">
      <div class="pages"><%= link_to "NEWS", news_path %></div>
      <div class="pages"><%= link_to "PRODUCTIONS", tracks_path %></div>
      <div class="pages"><%= link_to "BLUEPANTHER SHOW", radios_path %></div>
      <div class="pages"><%= link_to "PODCASTS", podcasts_path %></div>
      <div class="pages"><%= link_to "VIDEOS", videos_path %></div>
      <div class="pages"><%= link_to "INFOS", infos_path %></div>
  </div>
</div>
