<div class="container">
  <div class="menu">
    <div class="menu-vertical-item h5">
      <%= link_to "RELEASES", tracks_path %>
    </div>
    <div class="menu-vertical-item h5"><%= link_to "RADIO", radios_path %></div>
    <div class="menu-vertical-item h5"><%= link_to "VIDEO", videos_path %></div>
    <div class="menu-vertical-item h5"><%= link_to "INFO", infos_path %></div>
  </div>

    <div class="menu">
    <div class="menu-vertical-item h5"><%= link_to "RELEASES", tracks_path %></div>
    <div class="menu-vertical-item h5"><%= link_to "RADIO", radios_path %></div>
    <div class="">
      <%= image_tag 'myako-2.jpg', class:"myako-photo"%>
    </div>
    <div class="menu-vertical-item h5"><%= link_to "VIDEO", videos_path %></div>
    <div class="menu-vertical-item h5"><%= link_to "INFO", infos_path %></div>
  </div>

    <div class="menu-with-photo">
    <div class="menu-vertical-item h5"><%= link_to "RELEASES", tracks_path %></div>
    <div class="menu-center">
      <div class="menu-item h5"><%= link_to "RADIO", radios_path %></div>
      <div class="">
        <%= image_tag 'myako-2.jpg', class:"myako-photo"%>
      </div>
      <div class="menu-item h5"><%= link_to "VIDEO", videos_path %></div>
    </div>
    <div class="menu-vertical-item h5"><%= link_to "INFO", infos_path %></div>
  </div>
</div>
