<div class="container-fluid home">
  <div class="home-left">
    <% if @coming_gigs.length > 0 %>
      <div class="gig">
        <div class="gig-category">
          <h5> NEXT GIGS </h5>
        </div>
        <div class="gig-details">
          <% @coming_gigs.each do |gig| %>
            <div class="gig-content">
              <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="insta">
      <div class="insta-category">
        <h5>SOCIAL NEWS</h5>
      </div>
      <div class="insta-details">
        <div class="row">
          <% @instagrams.each do |instagram| %>
            <div class="col-sm-6">
            <%= link_to 'https://www.instagram.com/myako_bluepanther/', target: :_blank do %>
              <div class="insta-photo" style ="background-image:url(<%= instagram %>)"></div>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-right">
    <div class="home-production">
      <div class="featured-production">
        <h5>FEATURED PRODUCTION</h5>
      </div>
    </div>
    <div class="home-video">
      <div class="featured-video">
        <h5>FEATURED VIDEO</h5>
      </div>
    </div>
      <div class="insta-mobile">
        <div class="insta-category">
          <h5>SOCIAL NEWS</h5>
        </div>
      <div class="insta-details">
        <div class="row">
          <% @instagrams.each do |instagram| %>
            <div class="col-sm-6">
            <%= link_to 'https://www.instagram.com/myako_bluepanther/', target: :_blank do %>
              <div class="insta-photo" style ="background-image:url(<%= instagram %>)"></div>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
