<div class="container home">
    <div class="home-left">
      <%= link_to 'https://www.instagram.com/myako_bluepanther/', target: :_blank do %>
      <div class="insta">
        <div class="insta-category">
          <h5>INSTA</h5>
        </div>
        <div class="insta-details">
          <div class="insta-photo active" style ="background-image:url(<%= @instagrams.first %>)"></div>
          <% @instagrams[1..-1].each do |instagram| %>
            <div class="insta-photo" style ="background-image:url(<%= instagram %>)"></div>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>

   <div class="home-right">
    <% if @coming_gigs.length > 0 %>
      <div class="gig">
        <div class="gig-category">
          <h5> NEXT GIGS </h5>
        </div>
        <div class="gig-details">
          <% @coming_gigs.each do |gig| %>
            <div class="gig-content">
              <% if gig.url.blank? %>
                <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
              <% else %>
                <%= link_to "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}",gig.url, target: :_blank %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @featured_track %>
      <div class="home-production">
        <div class="featured-production">
          <h5>LAST PRODUCTION</h5>
        </div>
        <div class="featured-production-details">
          <p><%= @featured_track.title %></p>
          <audio class="audio" src=<%= @featured_track.url %>> </audio>
          <input type="range" id="range"/>
        </div>
      </div>
    <% end %>




  </div>



</div>
