<div class="container">
  <div class = "col-md-10 col-md-offset-1">
    <% unless @radios.where(introduction:true).first.nil?  %>
      <div class="video-title"> <h5> <%= @radios.where(introduction:true).first.title.upcase %> </h5></div>
      <div class="video-text"> <h5> <%= simple_format(@radios.where(introduction:true).first.text.upcase) %></h5></div>
    <% end %>

    <% @radios.where(introduction:false).each do |radio| %>
        <div class="media">
          <div class="video-title"> <h5> <%= radio.title.upcase if radio.title.present? %> </h5></div>
          <div class="video-text"> <h5> <%= simple_format(radio.text.upcase) if radio.text.present? %></div> </h5>
            <%= radio.url.html_safe %>
        </div>
    <% end %>
</div>
