<div class="container">

    <div class="info bio">
    <div class="info-category bio">
      <%= image_tag 'myako-2.jpg', class:"myako-photo"%>
    </div>
    <div class="info-details bio">
      <p>En quête permanente de cercles sonores, résidente chez Rinse France avec son émission Bi Polaire  Bi mensuel le "BluePanther Show"</p>
      <p>Animal libre de la scène techno française, Myako offre un riche éclectisme derrière les platines et une indéniable ouverture d'esprit.</p>
      <p>Ses sets sont des équations rythmiques de break, Techno, Uk noisy gardant un esprit cosmic et Dancehall.
Elle produit une musique plus expérimentale, et elle nous emmène dans son monde onirique, parfois à travers des collaborations vidéos.</p>
        <p> Elle est signée sur Confortzone et sur Ronde musique, ainsi que sur Fragil music sous le nom de Bluereed.</p>
<p>Suite à sa dernière collaboration avec Bastl instruments, elle sort prochainement sur le label Tchèque Nona Record son ep "White Tiger".
En 2018 Myako intègre la douce cie De QuiEMBROUILLEQUI!
</p>
    </div>
  </div>

  <% @categorydinfos.each do |categorydinfo| %>
    <div class="info">
      <div class="info-category">
        <h5> <%= categorydinfo.title %> </h5>
      </div>
      <div class="info-details">
        <% categorydinfo.infos.each do |info| %>
          <% if info.categorydinfo == Categorydinfo.where(title: 'CONTACT').first %>
            <p> <%= mail_to info.link, info.detail %> </p>
          <% elsif info.categorydinfo == Categorydinfo.where(title: 'PAST GIGS').first %>
            <p> <%= info.detail %> </p>
          <% else %>
            <p> <%= link_to info.detail.titleize, info.link, target: :_blank %>  </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="info info-gigs">
    <div class="gig-gradient"></div>
    <div class="info-category">
      <h5>PASSED GIGS</h5>
    </div>
    <div class="info-details">
      <% @passed_gigs.each do |gig| %>
        <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
      <% end %>
    </div>
  </div>
</div>
