<div class="container">
  <% @categorydinfos.each do |categorydinfo| %>
    <div class="info">
      <div class="info-category">
        <h5> <%= categorydinfo.title %> </h5>
      </div>
      <div class="info-details">
        <% categorydinfo.infos.each do |info| %>
          <% if info.categorydinfo == Categorydinfo.where(title: 'CONTACT').first %>
            <p> <%= mail_to info.link, info.detail %> </p>
          <% elsif info.categorydinfo == Categorydinfo.where(title: 'PAST GIGS').first %>
            <p> <%= info.detail %> </p>
          <% else %>
            <p> <%= link_to info.detail.titleize, info.link, target: :_blank %>  </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="info info-gigs">
    <div class="gig-gradient"></div>
    <div class="info-category">
      <h5>PASSED GIGS</h5>
    </div>
    <div class="info-details">
      <% @passed_gigs.each do |gig| %>
        <p> <%= "#{gig.date.strftime("%d/%m/%Y")} #{gig.detail}" %> </p>
      <% end %>
    </div>
  </div>
</div>
